<ul style="list-style-type: none">
    <li><a href="@Url.Action("SalesDashboards", "Home")">Sales Dashboards</a></li>
    <li><a href="@Url.Action("MarketingDashboards", "Home")">Marketing Dashboards</a></li>
</ul>